body, h1, h2, p 
{
    background-color: #000000;
    font-family: "Roboto", sans-serif;
    color: rgb(216, 216, 216)
}


.wrapper {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: auto;
}
